.dateList-container {
  margin: auto;
  /*overflow-y: auto;
  height: 350px;*/
  display: flex;
  justify-content: center;
}

thead {
  display: block;
  width: 100%;
  text-align: center;
}

tbody {
  display: block;
  height: 300px;
  width: 100%;
  overflow-y: auto;
}

table thead, table tbody tr {
  width: 100%;
  display: table;
  table-layout: fixed;
}

#scroll-table {
  overflow-y: auto;
  height: 30px;
  width: 500px;
  /*border-radius: 5px;*/
}

.footer-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.dateList {
  margin: 5px 5px 5px 5px;
  text-align: center;
}

.table {
  border-radius: 10px;
  width: 30%;
}

#refresh {
  display: inline-block;
  text-decoration: underline;
}

#refresh-wrapper {
  width: 30%;
  display: inline-block;
}

#update-wrapper {
  width: 70%;
  display: inline-block;
}

#day-of-week {
  display: inline-block;
  margin-right: 10px;
  font-weight: bold;
}

#date {
  display: inline-block;
  font-weight: bold;
  color: #f72e27;
}

#date-box {
  width: 30%;
  text-align: right;
  padding-right: 15px;
  color: #f72e27;
}

.bar {
  display: inline-block;
  background-color: #f2f2f2;
  width: 160px;
  height: 10px;
  position: relative;
}

#bar-info {
  padding-left: 0px;
}

.fill-bar {
  position: absolute;
  background-color: #26292d;
  height: 10px;
}

.in-count {
  display: inline-block;
  margin-left: 20px;
  font-size: 120%;
  font-weight: bold;
}
