.dateList-container {
  margin-top:20px;
  margin-right:20px;
  margin-bottom:20px;
  margin-left:20px;
  display: flex;
  justify-content: center;
}

.dateList {
  margin: 5px 5px 5px 5px;
  text-align: center;
}
