.dateList-container {
  margin-top:20px;
  margin-right:20px;
  margin-bottom:20px;
  margin-left:20px;
  display: flex;
  justify-content: center;
}

.dateList {
  margin: 5px 5px 5px 5px;
  text-align: center;
}

.table {
  width: 30%;
}

.date {
  text-align: center;
}

.bar {
  display: inline-block;
  background-color: #e1e5ed;
  width: 160px;
  height: 15px;
  position: relative;
}

.fill-bar {
  position: absolute;
  background-color: #26292d;
  height: 15px;
}
