.dateList-container {
  margin-top:20px;
  margin-right:20px;
  margin-bottom:20px;
  margin-left:20px;
  display: flex;
  justify-content: center;
}

.dateList {
  margin: 5px 5px 5px 5px;
  text-align: center;
}

.table {
  width: 30%;
}

#day-of-week {
  display: inline-block;
  margin-right:10px;
  font-weight: bold;
}

#date {
  display: inline-block;
  font-weight: bold;
  color:#f72e27;
}

#date-box {
  display: block;
  text-align: right;
  padding-right: 25px ;
  color:#f72e27;
}

.bar {
  display: inline-block;
  background-color: #f2f2f2;
  width: 160px;
  height: 10px;
  position: relative;

}

#bar-info {
  padding-left: 0px;
}

.fill-bar {
  position: absolute;
  background-color: #26292d;
  height: 10px;
}

.in-count {
  display: inline-block;
  margin-left:20px;
  font-size: 120%;
  font-weight: bold;
}
